 .nav-link {
     font-family: 'Roboto';
 }

 ul li a {
     font-weight: bold;
     font-size: 20pt;
 }

 section p {
     font-family: 'Roboto';
     font-weight: bold;
 }

 section h1 {
     text-align: center;
     font-family: 'Henny Penny';
     color: #8cbf3f;
     font-size: 55pt;
     line-height: 2em;
 }



 ul li img {
     height: 200px;
     width: 100px;
     margin: 5px;
 }

 ul {
     list-style-type: none;
 }

 img {
     height: 100%;
     width: 100%;
 }

 footer {

     bottom: 0;
     left: 0;
     right: 0;
 }